$handleWidth: 10px;

.drag-handle {
  &__container {
    position: absolute;
    &--col {
      width: $handleWidth;
      top: 0;
      bottom: 0;
      right: 0;
      transform: translateX($handleWidth / 2);
      &:hover {
        cursor: col-resize;
      }
    }
    &--row {
      height: $handleWidth;
      right: 0;
      left: 0;
      bottom: 0;
      transform: translateY($handleWidth / 2);
      &:hover {
        cursor: row-resize;
      }
    }
  }
}
