html.multi-row {
  body.multi-row {
    .column-drag-handle {
      visibility: hidden;
    }
    
    .app-content:not(.is-open) {
      margin-left: 0;
    }
    
    .app-columns {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;
    }
    
    .column {
      flex-shrink: 0;
      flex-grow: 0;
    }
    
    .wide {
      .compose-account:nth-child(6n) {
        margin-right: 16px;
      }
      .is-minigrid {
        .compose-account:nth-child(6n) {
          margin-right: 9px;
        }
      }
    }
  }
  
  
}
