.app-columns {
  width           : fit-content !important;
  padding-left    : 2px         !important;
  display         : grid        !important;
  grid-auto-flow  : column      !important;
  grid-row-gap    : 4px         !important;
  grid-column-gap : 4px         !important;
}

.column {
  min-width : 200px !important;
  width     : auto !important;
  max-width : 600px !important;
}


.column {
  margin: 0 !important;
  &.inside-cell {
    overflow: visible !important;
  }
}
.column-number {
  opacity: 0 !important;
}
.column-header:hover .column-number {
  opacity: 0.6 !important;
}

.needs-scroll-bottom-offset.scroll-styled-h {
  bottom: 0px !important;
}
.scroll-styled-h::-webkit-scrollbar {
  height: 4px !important;
}

.scroll-styled-v::-webkit-scrollbar-thumb,
.scroll-styled-h::-webkit-scrollbar-thumb {
  border-radius: 1px !important;
}
.column-scroller.scroll-styled-v::-webkit-scrollbar {
// .scroll-styled-v::-webkit-scrollbar {
  width: 4px !important;
}


.column-drag-handle {
  display: none !important;
}

.js-column-back {
  display: block !important;
  width: 100% !important;
}

.column-header {
  height: 40px !important;
  display: flex;
  align-items: center;
  .column-type-icon {
    height        : 8px !important;
    float         : none !important;
    line-height   : 0px !important;
    margin-top    : 0 !important;
    margin-bottom : 0 !important;
  }
  .column-title {
    height: 100% !important;
    flex-grow: 1;
    align-items: center;
  }
  .column-header-link {
    margin: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    line-height: 0 !important;
    * {
      line-height: 0 !important;
    }
    &.column {
      $offsetStep: 34;
      $offset0: $offsetStep * 0 + 5px;
      $offset1: $offsetStep * 1 + 5px;
      $offset2: $offsetStep * 2 + 5px;
      &-left-link {
        &-0 { left: $offset0 }
        &-1 { left: $offset1 }
        &-2 { left: $offset2 }
      }
      &-right-link {
        &-0 { right: $offset0 }
        &-1 { right: $offset1 }
        &-2 { right: $offset2 }
      }
    }
  }
}
