@import 'variable';
@import 'toggle-button';
@import 'overwrite';

.multi-row-app {
  display         : none;
  position        : absolute;
  top             : 0;
  left            : 0;
  right           : 0;
  bottom          : 0;
  &.is-visible {
    display: block;
    z-index: 100;
  }
}


// .multi-row-app .app-content {
//   transition-duration: 0.2s;
// }

// .is-condensed .multi-row-app .app-content {
//   left            : 50px;
// }

.is-open ~ .multi-row-app .app-content {
  transform: translateX(270px);
  margin-right: 270px;
}


.inactive-cell {
  opacity: 0.5;
}



$handle-height: 9px;
$handle-padding: ($handle-height - 5) / 2;
.cell{
  &__handle {
    position    : absolute;
    z-index     : 100;
    padding     : $handle-padding;
    box-sizing  : border-box;
    &::before, &::after {
      content: '.';
      font-size: 0;
      display: block;
      position: absolute;
    }
    &::before {
      box-sizing    : border-box;
      border        : 1px solid $light-handle;
    }
    &::after {
      background  : $light-handle;
    }

    &--horizonal {
      left        : $handle-padding + 1;
      right       : $handle-padding + 6;
      bottom      : -2px - $handle-padding;
      height      : $handle-height;
      cursor      : row-resize;
      &::before, &::after {
        width: 100%;
      }
      &::before {
        height        : 5px;
        bottom        : $handle-padding;
        border-left   : none;
        border-right  : none;
      }
      &::after {
        bottom      : 2px + $handle-padding;
        height      : 1px;
      }
    }
    &--vertical {
      bottom  : 0;
      right   : -4px - $handle-padding;
      height  : calc(100vh - 4px);
      width   : $handle-height;
      cursor  : col-resize;
      &::before, &::after {
        height: 100%;
      }
      &::before {
        width         : 5px;
        right         : $handle-padding;
        border-top    : none;
        border-bottom : none;
      }
      &::after {
        right : 2px + $handle-padding;
        width : 1px;
      }
    }
  }
  &__insert {
    background  : $light-header;
    position    : absolute;
    bottom  : 0;
    right   : $handle-padding;
    height  : auto;
    width   : auto;
    padding : 0 4px;
    cursor  : pointer;
    color: $light-text;
    border: 2px solid $light-text;
    &::before, &::after {
      content: unset;
    }
  }
}

.dark .cell{
  &__handle {
    &::before {
      border-color: $dark-handle;
    }
    &::after {
      background: $dark-handle;
    }
  }
  &__insert {
    background  : $dark-header;
    color       : $dark-text;
    border-color: $dark-text;
  }
}

.insert-column {
  position  : absolute;
  top       : 0;
  left      : 0;
  padding   : 0 4px;
  cursor    : pointer;
  color     : #000;
  background: #fff;
}



.measure {
  position: absolute;
  .measure-label {
    position: absolute;
    background: $light-article;
  }
  &::before, &::after {
    content   : ".";
    display   : block;
    font-size : 0;
    position  : absolute;
    top       : 0;
    bottom    : 0;
    left      : 0;
    right     : 0;
    opacity   : 0.7;
  }
  &::before {
    background: $twitter;
  }
  &::after {
    position: absolute;
    border  : 4px solid $twitter;
  }

  &-horizonal {
    height  : 1em;
    top     : 40px;
    bottom  : 0;
    left    : 3px;
    right   : 7px;
    margin  : auto 0;
    .measure-label {
      left        : 20%;
      top         : -1em;
      bottom      : -1em;
      padding     : 0 1em;
      line-height : 3em;
    }
    &::before {
      height  : 2px;
      margin  : auto 4px;
    }
    &::after {
      height        : 100%;
      border-top    : none;
      border-bottom : none;
    }
  }
  &-vertical {
    width   : 1em;
    top     : 43px;
    bottom  : 7px;
    left    : 0;
    right   : 0;
    margin  : 0 auto;
    .measure-label {
      top     : 20%;
      padding : 1em 0;
      left    : -1em;
      right   : -1em;
      text-align: center;
    }
    &::before {
      width   : 2px;
      margin  : 4px auto;
    }
    &::after {
      width       : 100%;
      border-left : none;
      border-right: none;
    }
  }
}

.dark .measure {
  .measure-label {
    background: $dark-article;
  }

}
