$light-header     : #F5F8FA;
$light-text       : #AAB8C2;
$light-article    : #ffffff;
$light-handle     : #66757f;

$dark-header      : #243447;
$dark-text        : #CCD6DD;
$dark-article     : #1B2836;
$dark-handle      : #ccd6dd;

$twitter          : #1DA1F2;
